*{
    font-family: 'Roboto Mono', monospace;
    }

header {
    text-align: center;
    padding: 10px;

}

h1 {
    font-size: 4em;
    margin: 1.5em 0px 0px 0px
}

h2 {
    font-size: 2em;
}

.page {
    padding: 0%;
    margin: 0%;
    position: relative;
}

.background { 
    position: absolute;
    width: 100%;
    min-height:100vh;
}

.gradients {
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0px;
    left: 0px;
    overflow: hidden;
    padding: 0%;
    margin: 0%;
    
}

.gradients li {
    position: absolute;
    list-style: none;
    width: 60px;
    height: 60px;
    
    animation: animate 20s linear;
    border-radius: 50%;
    overflow: hidden;
    mix-blend-mode: screen;

    animation: bg 20s infinite;
    animation-timing-function: ease-in-out; 

    
}

.gradients li:nth-child(1) {
    --r: 130em;
    left: calc(50% - var(--r) / 2);
    top: calc(20em - var(--r) / 2);
    width: var(--r);
    height: var(--r);
    background: radial-gradient(circle at 50% 50%, rgba(252, 238, 109) 10em , transparent calc(var(--r) / 2));
    
}

.gradients li:nth-child(2) {
    --r: 130em;
    left: calc(0% - var(--r) / 2);
    top: calc(25em - var(--r) / 2);
    width: var(--r);
    height: var(--r);
    background: radial-gradient(circle at 50% 50%, rgb(255, 165, 165) 10em, transparent calc(var(--r) / 2));  
    
}

.gradients li:nth-child(3) {
    --r: 130em;
    left: calc(100% - var(--r) / 2);
    top: calc(5em - var(--r) / 2);
    width: var(--r);
    height: var(--r);
    background: radial-gradient(circle at 50% 50%, rgb(154, 216, 255) 10em, transparent calc(var(--r) / 2));
    
}

.container {
    padding: 0em 8em;
    position: relative;

}

.buttons {
    text-align: center;
}

.icons {
    padding: 0em;
    margin: 0em;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);

    

    list-style: none;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 3em;
    text-align: center;

    
}

.icons i {
    font-size: 30px;
    width: 50px;
    height: 50px;
    box-sizing: border-box;

    border-style: solid;
    border-radius: 20%;
    border-width: 2px;

    background: rgba(255, 255, 255, 0.2) ;

    padding: 15% 0px;
    margin: 0em;
}

.insta i {color:rgb(253, 29, 29)}
.whats i {color:rgb(37 211 102)}
.linkd i {color:rgb(0, 119, 181)}
.gthub i {color:rgb(23, 21, 21)}
.email i {color:rgb(255, 206, 68)}

@keyframes bg {
    0%, 100% {
        transform: translate(-13em, 0);
    }
    50% {
        transform: translate(13em, 0);
    }
}