*{
    font-family: 'Roboto Mono', monospace;
    }

.page {
    padding: 0%;
    margin: 0%;
    position: relative;
}

.background { 
    position: absolute;
    width: 100%;
    min-height:100vh;
}

.gradients {
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0px;
    left: 0px;
    overflow: hidden;
    padding: 0%;
    margin: 0%;
    
}

.gradients li {
    position: absolute;
    list-style: none;
    width: 10px;
    height: 10px;
    
    animation: animate 30s linear;
    border-radius: 50%;
    overflow: hidden;
    mix-blend-mode: screen;

    animation: bg 20s infinite;
    animation-timing-function: ease-in-out; 

    
}

.gradients li:nth-child(1) {
    --r: clamp(70em,170vw,130em);
    left: calc(50% - var(--r) / 2);
    top: calc(20em - var(--r) / 2);
    width: var(--r);
    height: var(--r);
    background: radial-gradient(circle at 50% 50%, rgba(252, 238, 109) calc(var(--r) / 10) , transparent calc(var(--r) / 2));
    
}

.gradients li:nth-child(2) {
    --r: clamp(70em,170vw,130em);
    left: calc(0% - var(--r) / 2);
    top: calc(35em - var(--r) / 2);
    width: var(--r);
    height: var(--r);
    background: radial-gradient(circle at 50% 50%, rgb(255, 165, 165) calc(var(--r) / 10), transparent calc(var(--r) / 2));  
    
}

.gradients li:nth-child(3) {
    --r: clamp(70em,170vw,130em);
    left: calc(100% - var(--r) / 2);
    top: calc(5em - var(--r) / 2);
    width: var(--r);
    height: var(--r);
    background: radial-gradient(circle at 50% 50%, rgb(164, 220, 255) calc(var(--r) / 10), transparent calc(var(--r) / 2));
    
}

@keyframes bg {
    0%, 100% {
        transform: translate(min(-10vw,-6em), 0);
    }
    50% {
        transform: translate(max(12vw,8em), 0);
    }
}

.container {

    padding: 0em clamp(2em, 10vw, 8em);
    position: relative;

}

header {
    text-align: center;
    padding: 10px;

}

h1 {
    font-size: clamp(2.5em, 8vw, 3.5em) ;

    margin: 2.5em 0px 0px 0px
}

h2 {
    font-size: calc(clamp(2.5em, 8vw, 3.5em)/1.7) ;
}

.buttons {
    text-align: center;
}

.icons {
    padding: 0em;
    margin: 0em;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);

    list-style: none;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: clamp(0.5em, 17vw - 50px, 3em);
    text-align: center;

    
}

.icons li {

    /* box-sizing: border-box; */
    width: calc(clamp(25px, 9vw, 35px)*1.6);
    height: calc(clamp(25px, 9vw, 35px)*1.6);

    border-style: solid;
    border-radius: 20%;
    border-width: 2px;

    transition: background 1.3s cubic-bezier(0.19, 1, 0.22, 1);

    background: rgba(255, 255, 255, 0.2) ;
    color:var(--color);
}

.icons i {
    position: relative;
    font-size: clamp(25px, 9vw, 35px);
    width: calc(clamp(25px, 9vw, 35px)*1.6);
    height: calc(clamp(25px, 9vw, 35px)*1.6 - (20% - 0.5px));
    padding: calc(20% - 0.5px) 0px 0px 0px; 
    transition: 1.3s cubic-bezier(0.19, 1, 0.22, 1);
    transform: scale(110%);
    color:var(--color);
    

}

.icons li:hover {
    background-color: var(--color);
    transition: 1.1s cubic-bezier(0.19, 1, 0.22, 1);
    color:rgba(255, 255, 255, 0.8);
    transition: 1.1s cubic-bezier(0.19, 1, 0.22, 1);
}

.icons i:hover {
    color:rgb(255, 255, 255, 0.8);
    transform: scale(120%); 
    transition: 1.1s cubic-bezier(0.19, 1, 0.22, 1);
}







.insta i , .insta {--color: rgb(253, 29, 29);}
.whats i , .whats {--color: rgb(37 211 102);}
.linkd i , .linkd {--color: rgb(0, 119, 181);}
.gthub i , .gthub {--color: rgb(23, 21, 21);}
.email i , .email {--color: rgb(255 213 79);}

